@use "../utils/mixins";
@use "../utils/variables";
@use "../utils/colors";


.fonctionnement{
  counter-reset: steps;
  margin-bottom: 2rem;
  padding: 1rem;
  margin: 1rem;
  background-color: white;
  @media (min-width:1150px) {
      margin: 0rem;
      padding: 2rem 7rem;
    }
  & ol{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 2rem;
    list-style-type: none;
    @media (min-width:1150px) {
    flex-direction: row;
    padding: 1rem;
    margin: 1rem;
    }
  }
  & li{
    position: relative;
    display: flex;
    align-items: center;
    &::before{
      content: counter(steps);
      counter-increment: steps;
      position: absolute;
      top: 50%;
      left: -1 * variables.$fonctionnement-bulette-height;
      color: white;
      background-color: colors.$purple;
      width: 2 * variables.$fonctionnement-bulette-height;
      height: 2 * variables.$fonctionnement-bulette-height;
      display: grid;
      place-items: center;
      border-radius: 50%;
      transform: translateY(-50%);
    }
    background-color: #f6f6f6;
    padding: 1.5rem 2rem;
    flex-grow: 1;
    border-radius: 1rem;
    @include mixins.box-shadow;
    &:hover{
      @include mixins.transform-zoom;
      i::before{
        color: colors.$purple;
      }
    }
    & i.fa-solid {
      margin-right: 1rem;
      color: gray;
      font-size: 1.5rem;
    }
  }
}

